@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&family=Inika&display=swap');
@font-face {
  font-family: "painted brush";
  src: url("fonts/Painted_Brush.ttf");
}

/* 
font-family: 'painted brush;
font-family: 'Inika', serif;
primary: #FFF200;
secondary: #1C1C23;
*/

* {
  box-sizing:border-box;
}
body {
  margin:0;
  font-family: 'Inika', serif;
  background-color: black;
}
img {
  width:100%;
}

h1 {
  font-family: "painted brush";
  font-weight: 400;
  font-size: 120px;
  color: #FFF200;
}

.home-top nav h1 a{
  color: #FFF200;
}

h2 {
  font-family: "painted brush";
  font-weight: 400;
  font-size: 160;
  color: #FFF200;
}
/*change the font to brandon grotesque when you get it */
h3 {

font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

a {
  color: black;
  text-decoration:none;
}
footer {
  background-color: #FFF200;
  width:100vw;
}


/*----------------------------------------- Buttons / Navigation ----------------------------------------------*/

.button {
  display:inline-block;
  background-color: #FFF200;
  color: #1C1C23;
  padding: 12px 16px;
  border-radius: 2px;
}
.button:hover {
  background-color: #1C1C23;
  color: #FFF200;
}
.home-top {
  background-image: url('Images/HomeHero.jpg');
  background-size:cover;
  width:100vw;
  height:100vh;
}
.home-top nav a {
color: rgb(255, 255, 255);

}
.home-top nav h1 {
  margin:0;
}

/* this is the  main home navigation*/
.home-top nav {
  padding-top:60px;
  padding-bottom:60px;
  font-size: 18pt;
  border-bottom: 1px solid white;
}

.home-top nav ul {
  list-style:none;
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding:0;
  margin:0;
}

.home-about {
  height:100vh;
  width:100vw;
  background-color: #1C1C23;
  color: white;
   width: 80%; margin: auto;
}

#about-home-blurb{
  color:white;
  float:right;
}

.darkbackground-p{
  color: white;
}

/*------------------------------------------- Flex's ---------------------------------------------*/

.flex {
  display:flex;
}
.flex div {
  flex:1;
}


.about-homebox{
  background-color: #1C1C23;
  float: center;
}