/**{
    /* *{} this basically zeros out everything (a RESET)*/
    
    /*margin:0;
    padding:0;

}*/

body{
background-color:#1d2a10;
color:#dc9743;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 20px;
font-weight: lighter;

/* line height is basically the leading of a paragraph*/
line-height: 1.6em;

/*
(Same as above)
font:normal 20px georgia, Times, serif;
*/

margin:0

}

h1{
    color: #f3d841;
    font-size: 50px;
}

h3{
    color:#f3d841;
    font-size: 20px;
}

/*this a is refering to the links*/
a{
    text-decoration: none;
    font-weight: bold;
    color:#dc9743
}

/* buttons (a) can have different states like hover, and you can stylize them like bellow*/
a:hover{
    color:bisque
}

/*the active state happens when you click on it*/
.a:active{
    color:#f3d841
}

/*visited shows which pages you have been to after clicking on them, not really used often anymore*/
.a:visited{
    color:rgb(255, 255, 255);
}

.container{
    width:80%;
    margin:auto;
}

.button{
    background-color:#f3d841;
    color: #1d2a10;
    padding: 10px 15px;
    border:none;
}

.button:hover{
  background-color: #46513c;  
  color:bisque
}

/* (clr) this will then clear any floats that are above it*/
.clr{
    clear:both;
}

.box-1{
    background-color: #46513c;
    color:#dc9743;
    
    border-right: 5px rgb(96, 54, 29)  solid;
    border-left:5px rgb(96, 54, 29)  solid;
    border-top:5px rgb(96, 54, 29)  solid;
    border-bottom:5px rgb(96, 54, 29)  solid;

    /* Same as above 4 lines
    border: 5px rgb(96, 54, 29)  solid;*/

    border-width:3px;

    /*the bottom width will adjust the width of the boarder itself, in this case the bottom one*/
    border-bottom-width:10px;

    /* you can use this simple shorthand bellow for above bordering if all sizes and colors are the same*/
    border:10px rgb(96, 54, 29)  solid;

    padding: top 30px;
    padding: bottom 30px;
    padding: right 30px;
    padding: left 30px;

    /*same as above 4 lines*/
    padding:30px;

    margin: top 60px 0 ;
    /* or you can just say "margin:60px" if you want it to be even all around, the "0" refers to the R and L*/


    margin: 8%;
}

/* this will style the h1 within this particular class*/

.box-1 h1{
    font-family:Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;

    /* letter spacing refers to the kerning of the words, uses the "em" label*/
    letter-spacing: 0.2em;
    
    word-spacing: .25em;
    line-height: 1.6em;
}

.box-2{
    border: 5px dotted #ccc;
    padding:20px;
    margin:20px 0;
}

.categories{
    border:5px #ccc dashed;
    padding: 20px;
    margin: 20px 0;

    /* the boarder radius will allow you to make curved edges to the box*/
    border-radius:15px;
}

.categories h2{
    text-align:center;
    font-size: 50px;
    color: #f3d841;
}

.categories ul{
    padding:0;
    padding-left:30px;

    /*the list style is talking about what the bullets look like or lack there of
    using the:

    "list-style:none;" 

    will make it so there are no bullets */

    list-style: square;
}

.categories li{
    padding-bottom: 10px;
    border-bottom:solid 5px #46513c;

    /*when resizing images there a bunch of different ways to do it, one way is to open original file in PS and resize it there*/
    list-style-image: url('../css_cheatsheet/images/check.png');
}

.my-form{
    padding: 20px;

}

.my-form .form-group{
    padding: 15px;
}

.my-form label{
    display: block;
}

/*the [type="text"] it should disregard the button size and stay at the size you set it to be*/

.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width:100%;
}

.block{
    float:left;

    /*since there are three subsections, we do the 33.3 so they all line up*/
    width:33.3%;

    /* doing just this will frick up how they look, you also need to add a "box-sizing:border-box;" property*/
    background-color: #46513c;
    border:1px solid #1d2a10;
    padding:10px;
    box-sizing:border-box;
}

#main-block{
    float:left;
    width:70%;
    padding:15px;
    box-sizing: border-box;
}

/*QUESTION:
Why is background grey color not showing on side bar
Why are the margins of the whole page off?
*/

#side-bar{
    float:right;
    width:30%;
    background-color:#292929;
    color: #dc9743;
    padding:15px;
    box-sizing: border-box;
}

.p-box{
    width:800px;
    height:500px;
    border:1px solid #ccc;
    margin-top:30px;
    position: relative
}

/*
This is all what it would look like if you did absolute positioning

.p-box h1{
    position: absolute;
    top: 100px;
    left: 200px;

}

.p-box h2{
    position:absolute;
    bottom:40px;
    right:100px;

}*/